.root {
  box-sizing: border-box;
  display: block;
  background-color: #f8f9fa;
  color: #212529;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.app {
  margin: 60px auto;
  max-width: 800px;
  box-sizing: border-box;
  display: block;
  background-color: white;
  color: #212529;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #212529;
}

.weather .logo {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
  display: block;
  max-width: 150px;
  font-family: cerebri-sans, Arial, Helvetica, sans-serif;
}

.img {
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.a {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}

.p-0 {
  padding: 0 !important;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.WeatherInfo {
  margin-top: 20px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.Weather .btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.Weather h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.Weather li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.Weather li strong {
  color: #f65282;
  font-weight: 400;
}

b,
strong {
  font-weight: bolder;
}

.WeatherInfo .temperature-container {
  align-items: center;
  margin-top: 30px;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.d-flex {
  display: flex !important;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.Weather .unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -34px;
}

.WeatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.col {
  flex: 1 0;
}

.WeatherForecast .forecast-time {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}

.WeatherForecast .forecast-temperature {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.WeatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
.Weather footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
  display: block;
}

.Weather footer a {
  color: #885df1;
}
